* {
  padding: 0px;
  margin: 0px;
}

.d-flex {
  display: flex;
}

.w-50 {
  width: 50%;
  background-color: beige;
}

.h-500 {
  height: 500px;
}

.p-20 {
  padding: 20px
}

.text-center {
  text-align: center;
}
